<h2>MAILBOX</h2>

<h3><%= button_to "Inbox", messages_inbox_path, method: :get, class: "btn btn-theme pull-left" %></h3>

<h3><%= button_to "Sent", messages_sent_path, method: :get, class: "btn btn-theme pull-left" %></h3>

<h3><%= button_to "Trash", messages_trash_path, method: :get, class: "btn btn-theme pull-left" %></h3>
