<div class = "about">
<div class="container" id="padded_container">
  <h1 class="align-center pad-bot20">Edit Gig</h1>
   <div class="form-group">
   <%= render 'form' %>
  </div>
  <div class="align-center">
  <%= link_to 'Cancel', @task %>
</div>
</div>
</div>
<%= javascript_include_tag "task_form" %>


