<div class = "about">
<div class="container" id="padded_container">
  <h1>Please Rate Your Badgers:</h1>

  <table class="table-responsive">
  <tbody>

    <% @workers.each do |worker| %>
    <tr>
      <td class="pad-left5 pad-right5"><%= image_tag avatar(worker), class: "img-circle img-responsive tiny" %></td>
      <td class="pad-left5 pad-right5"><%= worker.name %></td>
      <td class="pad-left5 pad-right5"><%= rating_for worker,  dimension = nil, options = {} %></td>

    <% end %>
   </tr>
  </tbody>
  </table>

  <div class="small"><%= link_to "Back to My Account", current_user %></div>
</div>
</div>