


<br>
<br>
<br>

<!--todo: move this to the controller(model?) -->
<h1>Top Reviewed Users</h1>
<ul>
<% @top_badgers.each do |user| %>
  <li><%= link_to user.name, user_path(user) %> <%= rating_for user,  dimension = nil, options = {readonly: true} %></li>
<% end %>
</ul>

<h1>All Users</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>