<div class="container" id="padded_container">
  <h1 class="align-center pad-bot20">Top Reviewed Users</h1>
  <div class="row align-center mar-bot40">
  <% @top_badgers.each do |user| %>
    <div class="col-md-3">
      <div class="team-member">
        <figure class="member-photo"><%= image_tag avatar(user) %></figure>
        <div class="team-detail">
          <h4><%= link_to user.name, user_profile_path(user) %> </h4>
            <table class="centered">
              <tr>
                <td><%= rating_for user,  dimension = nil, options = {readonly: true} %></td>
                <td><span class="small muted">(<%= user.rates.count %>)</span></td>
              </tr>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>