
<br>
<br>
<div class="center_align">
<!-- use this method for rating only: -->
<%= rating_for @user,  dimension = nil, options = {readonly: true} %>

</div>
<p>
  <%= image_tag @user.image_url(:preview).to_s %>
</p>

