<div id="padded_container" class="container">
  <div class="align-center">
  <div class = 'about'>
    <h3>GigBadger's story:</h3>

    <p>
    GigBadger was created with the focus on giving students and novices a platform to find work that will give them the experience they need. As we all know, mastery comes with repeated practice. The more jobs you take on, the better your skills get. Professionals are expensive. There are times when you want work done without needing the urgency and cost of hiring a veteran in the field. Sometimes people just need a start, and other people to give them a chance. GigBadger wants to bring those people together.</p>

    <p>
    Other companies focus on paid tasks. While we know that most workers want to get paid for jobs, there are also people that just want to volunteer their time or gain experience by offering their service for free. Whether you're posting a gig or looking for one, GigBadger wants to make this a fun and easy experience for everyone.</p>

    <p>
      GigBadger was created by two student developers from <a href="http://adadevelopersacademy.org/">Ada Developers Academy</a> in Seattle, WA. You can find them writing code and drinking copious amounts of coffee in "The Hill".
    </p>

      <div class="row pad-bot40">
        <div class="col-xs-6">
          <h4>Asha Golveo</h4>
          <div>
            <%= link_to (image_tag "/Octocat.png", class: "tiny_logo"),"https://github.com/ashag", target: '_blank'  %>
            <%= link_to (image_tag "/twitter.png", class: "tiny_logo"),"https://twitter.com/ashKashG", target: '_blank'  %>
          </div>
        </div>
        <div class="col-xs-6">
          <h4>Galina Yermicheva</h4>
          <div>
            <%= link_to (image_tag "/Octocat.png", class: "tiny_logo"), "https://github.com/gyermich", target: '_blank'  %>
            <%= link_to (image_tag "/twitter.png", class: "tiny_logo"),"https://twitter.com/gyermich", target: '_blank'  %>
          </div>
        </div>
    </div>
  </div>

  </div>
</div>

